<%- include('partials/header.ejs') %>

<div class="container">
    <div class="books">
        <form method="post" action="<%= locals.review ? '/updateReview' : '/addBook' %>">
            <div class="book">
                <% if (locals.book_id) { %>
                    <!-- Hidden fields for existing book -->
                    <input type="hidden" name="bookId" value="<%= locals.book_id %>">
                    <input type="hidden" name="title" value="<%= locals.title %>">
                    <input type="hidden" name="author" value="<%= locals.author %>">
                    <input type="hidden" name="cover_id" value="<%= locals.cover %>">
                <% } %>
                <% if(locals.cover == 0){ %>
                    <div class="blank-cover">
                        <div>
                            <h3><%= locals.title %></h3>
                            <h4>By <%= locals.author %></h4>
                        </div>
                    </div>
                <% } else if (locals.cover > 0) { %>
                    <img src="//covers.openlibrary.org/b/isbn/<%= locals.cover %>-L.jpg"
                    srcset="//covers.openlibrary.org/b/isbn/<%= locals.cover %>-L.jpg 2x" alt="Book cover">
                <% } %>

                <div class="book-details align-content-center col-md-5">

                    <% if (locals.book_id) { %>
                        <!-- Existing book -->
                        <h2><%= locals.title %></h2>
                        <h3>By <%= locals.author %></h3>
                    <% } else { %>
                        <!-- New book input fields -->
                        <h3 class="my-4">Enter Book Details:</h3>
                        <label>Title    :</label>
                        <input class="mb-2" type="text" name="title" value="<%= locals.title || '' %>" required><br>

                        <label>Author :</label>
                        <input class="mb-2" type="text" name="author" value="<%= locals.author || '' %>" required><br>

                        <label>ISBN    :</label>
                        <input class="mb-2" type="text" name="cover_id" value="<%= locals.cover || '' %>" required><br>
                    <% } %>

                </div>

                <div class="book-details justify-content-center col-md-7">
                    <!-- if review exists, edit review else write review -->
                    <% if (locals.review) { %>
                        <h3>Edit Review:</h3>
                        <textarea name="review_text" id="review_text" cols="25" rows="10" required><%= review %></textarea>
                    <% } else { %>
                        <h3 class="py-2 my-3">Write review:</h3>
                        <textarea name="review_text" id="review_text" cols="40" rows="10" required></textarea>
                    <% } %>                    
                    
                    <h3>Rating:</h3>                    
                    <div class="rating" id="inputRating">
                        <input id="5" type="radio" name="rating" value="5" required>
                        <label for="5">
                            <span class="fa fa-star"></span>
                        </label>
                        <input id="4" type="radio" name="rating" value="4">
                        <label for="4">
                            <span class="fa fa-star"></span>
                        </label>
                        <input id="3" type="radio" name="rating" value="3">
                        <label for="3">
                            <span class="fa fa-star"></span>
                        </label>
                        <input id="2" type="radio" name="rating" value="2">
                        <label for="2">
                            <span class="fa fa-star"></span>
                        </label>
                        <input id="1" type="radio" name="rating" value="1">
                        <label for="1">
                            <span class="fa fa-star"></span>
                        </label>
                    </div>
                    <div id="error-message" width="200px" style="color: red;"></div>                    

                    <div class="button edit">
                        <input onclick="validateForm()" type="submit" value="<%= locals.review ? 'Update' : 'Add Book' %>">    
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


    <%- include('partials/footer.ejs') %>